h1 {
  color: cornflowerblue;
  width: 300px;
  text-align: center;
  background-color: rgba(173, 216, 230, 0.363);
  border-radius: 5px 5px 0px 0px;
  padding-top: 10px;
  margin: 0;
}

h2 {
  margin: 0px;
  font-size: 18px;
  text-align: center;
}

input {
  height: 20px;
  border: none;
  outline: none;
  border-radius: 5px 0px 0px 5px;
  padding-left: 10px;
}

button {
  height: 22px;
  border: none;
  border-radius: 5px;
  margin: 3px;
}

button:hover {
  background-color: gainsboro;
  cursor: pointer;
}